.card {
    padding: 0.5em 0.5em;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    background-color: white;
    height: 12vh;
    color:black;
  } 

  .expanded {
    transition: height 0.5s ease; /* Add a smooth transition for the height property */
  }

  /* CSS for the grid layout */
.columnContainer {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 0.25fr; /* Adjust the column sizes as needed */
    grid-gap: 10px; /* Adjust the gap between grid items as needed */
    align-items: center; /* Center items vertically within the row */
  }
  
  /* Style for each grid item (div) */
  .columnContainer > div {
    padding: 16px 16px 0px 16px;
    text-align: left;
    white-space: nowrap; /* Prevent text from wrapping to the next line */
  }
  
  /* Style for headings (h3, h4) */
  .columnContainer h3 {
    font-size: 18px;    
  }
  
  .columnContainer h4 {
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 0px;
  }
  
  /* Style for the button */
  .columnContainer button {
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    background-color: transparent;
    color: wheat;

  }
  
  /* Style for the first grid item to make it bigger */
  .columnContainer > div:first-child {
    grid-column: span 2; /* Make it span 2 columns */
  }
  
  /* Styles for the expanded section */
.expandedSection {
    display: flex;
    justify-content: flex-end;
    padding: 0px;
  }
  
  /* Styles for individual detail containers */
  .detailContainer {
    display: flex;
    width: 35%;
    margin: 5px;
    border: 0;
    background: linear-gradient(to bottom, #FEEFCC, #DF985A);
    border-radius: 15px;
    padding: 5px;
    color: black;
  }
  
  /* Styles for the button */
  .detailButton {
    width: 120px;
    height: 30px;
    align-self: flex-end;
    justify-self: flex-end;
    background-color: white;
    border-radius: 10px;
    color: black;
    border: 0px;
    cursor: pointer;
  }
  
  .columnDetailContainer {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 5px 15px;
    background: linear-gradient(to bottom, #FEEFCC, #DF985A);
    border: 0;
    border-radius: 15px;
    padding: 5px;
    color: black;
    cursor: pointer;
    justify-items: center;
  }
  
  .columnButton {
    width: 90%;
    height: 40px;
    align-self: center;
    justify-self: center;
    background-color: white;
    border-radius: 10px;
    color: black;
    border: 0px;
    cursor: pointer;
  }
  
  .gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr;
    gap: 5px; /* Adjust the gap as needed */
  }
  
  .topLeft {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin:0;
  }
  
  .bottomLeft {
    grid-column: 1 / 2;
    grid-row: 2 / 2;
    margin:0;
  }
  
  .bottomRight {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    justify-content: center;
    align-self: center;
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  .modalContent {
    width: 60vw;
    height: 30vh;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }

  .buttonContainer {
    display: flex;
    width:100%;
    height: 100px;
    align-items: flex-end;
    justify-content: center;
  }

  .buttonContainer button{
    width: 30%;
    height: 40px;
    align-self: flex-end;
    justify-self: center;
    margin: 10px;
    border-radius: 15px;
    border:0;
  }